name: GitHub Build & Run Unit Tests (macosArm64)
on: [ push ]
jobs:
  GitHub-Build-And-Run-Unit-Tests:
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Running tests
        run: ./gradlew assemble allTests
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-macosArm64
          path: |
            build/bin/macosArm64/releaseExecutable/*.kexe
